.calculatorOthers{
    -fx-background-color: transparent;
    -fx-border-color: purple;
}

.calculatorNumbers {
    -fx-background-color: silver;
    -fx-border-color: purple;
}

.calculatorCancelEqual {
    -fx-background-color:  #252525;
    -fx-text-fill: white
}

.calculatorOthers:hover{
    -fx-background-color: purple;
    -fx-text-fill: white;
}

.calculatorNumbers:hover {
    -fx-background-color: purple;
    -fx-text-fill: white;
}

.calculatorCancelEqual:hover {
    -fx-background-color: purple;
}

.general:pressed {
    -fx-background-color: blue;
    -fx-text-fill: white;
}